*.obj
*.user
*.db
*.suo
*.sdf
*.opendb
*.opensdf
*.lib
binary/
installers/tunefish4/build/
src/tunefish4/Builds/VisualStudio2015/Debug/
src/tunefish4/Builds/VisualStudio2015/Release/
src/tunefish4/Builds/VisualStudio2015/x64/
src/tunefish4/Builds/VisualStudio2015/Win32/
src/tunefish4/Builds/VisualStudio2017/Debug/
src/tunefish4/Builds/VisualStudio2017/Release/
src/tunefish4/Builds/VisualStudio2017/x64/
src/tunefish4/Builds/VisualStudio2017/Win32/
src/tunefish4/Builds/VisualStudio2017/.vs/
src/tunefish4player/debug/
src/tunefish4player/debug_fast/
src/tunefish4player/x64/
src/tunefish4player/release/
FULLVERSION_TF4
scripts/node_modules/
build/
artifacts/

