*.obj
*.user
*.db
*.suo
*.sdf
*.opendb
*.lib
binary/
src/tunefish4/Builds/VisualStudio2015/Debug/
src/tunefish4/Builds/VisualStudio2015/Release/
src/tunefish4/Builds/VisualStudio2015/x64/
src/tunefish4/Builds/VisualStudio2015/Win32/
